<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} [${level}] ${message}" />
		<target xsi:type="File" name="ui" layout="${longdate} [${level}] ${message}"	fileName="${basedir}/Log/${date:format=yyyyMMdd}/CoinSvr_${date:format=yyyyMMdd}.ui" keepFileOpen="false" concurrentWrites="true" fileShare="ReadWrite"/>
		<target xsi:type="File" name="error" layout="${longdate} [${level}] ${message}"	fileName="${basedir}/Log/${date:format=yyyyMMdd}/CoinSvr_${date:format=yyyyMMdd}.error" keepFileOpen="false" concurrentWrites="true" fileShare="ReadWrite"/>
		<target xsi:type="File" name="sql" layout="${longdate} [${level}] ${message}"	fileName="${basedir}/Log/${date:format=yyyyMMdd}/CoinSvr_${date:format=yyyyMMdd}.sql" keepFileOpen="false" concurrentWrites="true" fileShare="ReadWrite"/>
		<target xsi:type="File" name="signal" layout="${longdate} [${level}] ${message}"	fileName="${basedir}/Log/${date:format=yyyyMMdd}/CoinSvr_${date:format=yyyyMMdd_HH}.signal" keepFileOpen="false" concurrentWrites="true" fileShare="ReadWrite"/>
		<target xsi:type="File" name="enter" layout="${longdate} [${level}] ${message}"	fileName="${basedir}/Log/${date:format=yyyyMMdd}/CoinSvr_${date:format=yyyyMMdd}.enter" keepFileOpen="false" concurrentWrites="true" fileShare="ReadWrite"/>
	</targets>
	<rules>
		<logger name="ui" minlevel="info" writeTo="ui,console" />
		<logger name="sql" minlevel="Trace" writeTo="sql" />
		<logger name="signal" minlevel="Trace" writeTo="signal" />
		<logger name="error" minlevel="Trace" writeTo="ui,error,console" />
		<logger name="enter" minlevel="info" writeTo="enter" />
	</rules>
</nlog>

